@tailwind base;
@tailwind components;
@tailwind utilities;

@import "custom-css.css";
@import "custom-component.pcss";

.info {
    @apply bg-orange-300 shadow-xl;
}

.info:hover {
    @apply underline;
}